@*
    Copyright (c) Microsoft Corporation.  All rights reserved.
    MIT License
    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the ""Software""), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED *AS IS*, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*@
@using Microsoft.Health.Web.Mvc
@using Microsoft.Health.ItemTypes
@model Weight

@{
    ViewBag.Title = "Health information";
    var addWeightUrl = HealthVault.Shell.Url(
        ViewContext, 
        "VIEWITEMS", 
        new { typeid = Weight.TypeId, additem = true });
}

<h2>Latest measurements</h2>
<h3>Weight</h3>
@if (Model == null)
{
    <p>
        No weight values found. Confirm that weight values are available in <a href="@addWeightUrl">HealthVault</a>.  Note: This operation requires that the app has been authorized for Online access to the weight data type.  
    </p>
}
else
{ 
    <p>
        Your current weight is @Model.Value.Kilograms kg.
    </p>
}