body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}
/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}
.response-data-label {
    font-weight: bold;
}
.time {
    display: inline-block;
    max-width: 60px;
}
.form-horizontal .checkbox-inline.no-padding-top {
    padding-top: 0;
}
.panel-heading .form-group {
    margin-bottom: 0;
}
.goal-range {
    display: inline-block;
    max-width: 200px;
}
.display {
    padding-top: 7px;
}
h1,
h2,
h3 {
    font-family: "Segoe UI Semilight", "Segoe UI", sans-serif;
    font-weight: normal;
}
.slim-col {
    padding-right: 6px;
    padding-left: 6px;
}
label {
    font-weight: normal;
}
.form-control {
    color: inherit;
    vertical-align: middle;
    border-radius: 0px;
    background-color: rgba(238, 238, 238, 1);
    border: 0px;
}
.form-horizontal .control-label {
    padding-bottom: 11px;
}
.form-horizontal > .form-group {
    margin-right: -6px;
    margin-left: -6px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    min-height: 40px;
    min-width: 120px;
    border-radius: 4px;
    margin: 15px 0px 10px 0px;
    font-family: "Segoe UI Semi-light", "Segoe UI", sans-serif;
}
.btn-default {
    color: inherit;
    border-color: inherit;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    background-color: rgba(0, 130, 114, 1);
    border: none;
}
.btn-default:hover, .btn-default:focus, .btn-default:active {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 130, 114, 0.75);
    border: none;
}
.btn-link {
    padding: 0;
    position: relative;
    top: -2px;
}
.btn-inline {
    margin-top: 35px;
}
.navbar-brand {
    padding: 0px;
    margin: 22px 40px 13px 15px;
    width: 150px;
    min-height: 23px;
    background: url("/Images/hv_full_white.png") no-repeat center;
    line-height: none;
}
.navbar > .container .navbar-brand {
    margin-left: 0px;
}
.navbar-nav {
    margin: 7.5px -15px;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    font-family: "Segoe UI Semibold", "Segoe UI", sans-serif;
}
.navbar-inverse {
    background-color: rgba(0, 130, 114, 1);
    border-color: rgba(0, 130, 114, 1);
}
.navbar-inverse .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}
.label {
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
}
h1.page-title,
h2.page-title {
    margin-top: 40px;
}
p .description {
    margin: 30px 0px;
}
span.emphasis {
    color: rgba(0, 130, 114, 1);
    font-weight: 600;
}
.cards {
    margin-top: 20px;
}
.card {
    height: 340px;
    width: 380px;
    background-color: rgba(238, 238, 238, 1);
    padding: 25px;
    position: relative;
    float: left;
    margin: 5px;
}
.card-logo {
    width: 105px;
    height: 100px;
}
.card-logo img {
    position: relative;
    top: 0px;
    left: 0px;
}
.card-title {
    margin-top: 15px;
}
.card-description {
    margin-top: 5px;
    padding-right: 15px;
}
.card-button {
    position: absolute;
    bottom: 10px;
}
.copyright {
    float: right;
}
td a, td a:visited, td a:hover, td a:active {
    color: rgba(0, 130, 114, 1);
}
.btn-link.delete {
    color: rgba(232, 18, 36, 1);
}
.delete-table-button {
    color: rgba(232, 18, 36, 1);
    margin: 0px;
    font-size: 16px;
}
.form-control {
    font-size: 16px;
}
td.ms-row {
    vertical-align: middle !important;
}
.ms-thumbnail img{
    height: 50px;
    width: 50px;
}
.goal-range-separator {
    max-width: 6px;
    text-align: center;
    float: left;
    margin-left: -3px;
    margin-right: -3px;
}
td.occurrence {
    color: rgba(153, 153, 153, 1);
}