<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ApplicationId" value="your application ID here" />
    <add key="ShellUrl" value="https://account.healthvault-ppe.com/" />
    <add key="HealthServiceUrl" value="https://platform.healthvault-ppe.com/platform/" />
    <add key="RestHealthServiceUrl" value="https://data.ppe.microsofthealth.net" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime executionTimeout="256" maxRequestLength="8192" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <customErrors mode="Off" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="HealthVaultProxy.HVConnect">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="secureHttpBinding" contract="HealthVaultProxy.IHVConnect" />
      </service>
      <service name="HealthVaultProxy.HVDataAccess">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="secureHttpBinding" contract="HealthVaultProxy.IHVDataAccess" />
      </service>
      <service name="HealthVaultProxy.HVDropOff">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="secureHttpBinding" contract="HealthVaultProxy.IHVDropOff" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="secureHttpBinding">
          <!-- Change the following mode from None to Transport prior to production deployment. -->
          <!-- security mode="Transport" -->
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpsGetEnabled="true" httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>