<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApplicationId" value="cc7db39e-f425-445a-8de6-75271b7ecbfa" />
    <add key="ShellUrl" value="https://account.healthvault-ppe.com/" />
    <add key="HealthServiceUrl" value="https://platform.healthvault-ppe.com/platform/" />
    <add key="RestHealthServiceUrl" value="https://data.ppe.microsofthealth.net" />
  </appSettings>
</configuration>