<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="HealthVaultProxyTest.Properties.Settings.CCF2013_OwnYourOwnHealthConnectionString"
        connectionString="Data Source=PHILPENNW530;Initial Catalog=CCF2013_OwnYourOwnHealth;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHVConnect" />
        <binding name="BasicHttpBinding_IHVDataAccess" />
        <binding name="BasicHttpBinding_IHVDropOff" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:29182/HVConnect.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IHVConnect" contract="HVConnect.IHVConnect"
          name="BasicHttpBinding_IHVConnect" />
      <endpoint address="http://localhost:29182/HVDataAccess.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IHVDataAccess" contract="HVDataAccess.IHVDataAccess"
          name="BasicHttpBinding_IHVDataAccess" />
      <endpoint address="http://localhost:29182/HVDropOff.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IHVDropOff" contract="HVDropOff.IHVDropOff"
          name="BasicHttpBinding_IHVDropOff" />
    </client>
  </system.serviceModel>
</configuration>
