<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HVClientSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <HVClientSample.Properties.Settings>
      <setting name="ApplicationId" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="PersonId" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="RecordGuid" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="IsProvisioned" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServiceInstanceId" serializeAs="String">
        <!-- A default value of "1" is to support loading settings from
              an older version of this sample app, where no instance ID was saved.
              The old app would have been provisioned in the US instance (ID="1") -->
        <value>1</value>
      </setting>
    </HVClientSample.Properties.Settings>
  </userSettings>

  <appSettings>
    <!-- master app ID and the app ID used for retrieving
    service information, before the child app is created -->
    <add key="ApplicationId" value="136d030c-4a10-4e7d-a680-8c3d8b4ffe88" />
    <add key="ShellUrl" value="https://account.healthvault-ppe.com/" />
    <add key="HealthServiceUrl" value="https://platform.healthvault-ppe.com/platform/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>
