<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- BEGIN config settings used by the HealthVault SDK -->

    <add key="ApplicationId" value="your application ID here" />
    <add key="ShellUrl" value="https://account.healthvault-ppe.com/" />
    <add key="HealthServiceUrl" value="https://platform.healthvault-ppe.com/platform/" />
    <add key="RestHealthServiceUrl" value="https://data.ppe.microsofthealth.net" />

    <!-- <add key="ApplicationCertificateFileName" value="absolute path to cert" />-->

    <!-- when we call the SignOut() method on HealthServicePage, it redirects us to the page below -->
    <add key="NonProductionActionUrlRedirectOverride" value="Redirect" />

    <!-- The redirect page (specified above) uses these keys below to redirect to different
         pages based on the response from the shell -->
    <add key="WCPage_ActionHome" value="Home" />
    <add key="WCPage_ActionAppAuthReject" value="Home" />

    <add key="WCPage_SSLForSecure" value="false" />

    <!-- Comma seperated list of person IDs that can access the offline pages. Open to all if empty -->
    <add key="OfflineAuthorizedPersonIDs" value="" />

    <!-- END config settings used by the HealthVault SDK -->
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <customErrors mode="RemoteOnly" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" requestValidationMode="2.0" />
    <httpModules>
      <add name="AuthenticationModule" type="Microsoft.Health.Web.Mvc.AuthenticationModule" />
    </httpModules>
  </system.web>

  <system.net>
    <!-- Uncomment this section to see outgoing calls in Fiddler
    <defaultProxy>
      <proxy usesystemdefault="False" bypassonlocal="True" proxyaddress="http://127.0.0.1:8888"   />
    </defaultProxy>
    -->
  </system.net>

  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <add name="AuthenticationModule" type="Microsoft.Health.Web.Mvc.AuthenticationModule, Microsoft.Health.Web.Mvc" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>