@*
    Copyright (c) Microsoft Corporation.  All rights reserved.
    MIT License
    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the ""Software""), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED *AS IS*, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*@
@{
    ViewBag.Title = "Home";
}

<div class="row cards">
    <div class="card">
        <div class="card-logo"><img src="~/Images/invite_icon.png" /></div>
        <h2 class="card-title">Invite remote patients</h2>
        <div class="card-description">
            Examples of generating and sending invitations for your application to remote patients.
        </div>
        <div class="card-button">
            <a class="btn btn-default" href="@Url.Action("Index", "Onboarding")">Go &raquo;</a>
        </div>
    </div>
    <div class="card">
        <div class="card-logo"><img src="~/Images/measurements_icon.png" /></div>
        <h2 class="card-title">Remote monitoring</h2>
        <div class="card-description">Examples of reading and writing patients' health data stored in HealthVault. </div>
        <div class="card-button">
            <a class="btn btn-default" href="@Url.Action("Users", "ActionPlan")">Go &raquo;</a>
        </div>
    </div>
</div>