<div class="alert alert-info" role="alert">
    @if (Request.QueryString["personId"] == null || Request.QueryString["recordId"] == null)
    {
        <p>Editing action plans for the <b>logged in</b> user</p>
    }
    else
    {
        <p>Editing action plans for Person ID <b>@Request.QueryString["personId"]</b>, Record ID <b>@Request.QueryString["recordId"]</b></p>
    }
</div>