body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.response-data-label {
    font-weight: bold;
}

.time {
    display: inline-block;
    max-width: 60px;
}

.form-horizontal .checkbox-inline.no-padding-top {
    padding-top: 0;
}

.panel-heading .form-group {
    margin-bottom: 0;
}

.goal-range {
    display: inline-block;
    max-width: 200px;
}

.display {
    padding-top: 7px;
}