<div class="alert alert-info" role="alert">
    @if (Request.Params["personID"] == null || Request.Params["recordID"] == null)
    {
        <p>Editing action plans for the <b>logged in</b> user</p>
    }
    else
    {
        <p>Editing action plans for user <b>@Request.Params["personID"]</b>, record <b>@Request.Params["recordID"]</b></p>
    }
</div>